# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
AZURE_FORM_RECOGNIZER_ENDPOINT=your-form-recognizer-endpoint
AZURE_AI_SERVICES_KEY=your-azure-ai-services-key
DATABASE_URL=your-database-url
DIRECT_URL=your-database-direct-url
